<div class="formgrid grid">
  <div class="field col-12">
    <h2>Basic (without autoDisplayFirst)</h2>
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" optionLabel="name" [showClear]="true"></p-dropdown>
  </div>

  <div class="field col-12">
    <h2>Basic ([autoDisplayFirst]="true")</h2>
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity2" optionLabel="name" [showClear]="true"
                [autoDisplayFirst]="true"></p-dropdown>
  </div>

  <div class="field col-12">
    <h2>Basic ([autoDisplayFirst]="false")</h2>
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity3" optionLabel="name" [showClear]="true"
                [autoDisplayFirst]="false"></p-dropdown>
  </div>
</div>
